.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.Color-text{
  animation: Color-change infinite 10s linear;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes Color-change {
  0% {color: #ffffff;}
  10% {color: #ffe6e6;}
  20% {color: #ffcccc;}
  30% {color: #ffb3b3;}
  40% {color: #ff9999;}
  50% {color: #ff8080;}
  60% {color: #ff9999;}
  70% {color: #ffb3b3;}
  80% {color: #ffcccc;}
  90% {color: #ffe6e6;}
  100% {color: #ffffff;}
}